/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
html {
    scroll-behavior: smooth;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.content {   
    width: 100%;
}

@media (min-width: 600px) {
    .content {   
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .content {   
        max-width: 60vw;
    }
}
