@import '~@angular/material/theming';
@include mat-core();

$food-app-light-primary: mat-palette($mat-green, 600);
$food-app-light-accent: mat-palette($mat-yellow, 200);
$food-app-light-warn: mat-palette($mat-red, A700);

$food-app-light-theme: mat-light-theme($food-app-light-primary, $food-app-light-accent, $food-app-light-warn);

@include angular-material-theme($food-app-light-theme);

.dark-theme {
    $food-app-dark-primary: mat-palette($mat-grey, 900);
    $food-app-dark-accent: mat-palette($mat-green, 200);
    $food-app-dark-warn: mat-palette($mat-red, A700);

    $food-app-dark-theme: mat-dark-theme($food-app-dark-primary, $food-app-dark-accent, $food-app-dark-warn);
    @include angular-material-theme($food-app-dark-theme);
}
