<button mat-icon-button [matMenuTriggerFor]="themeMenu">
    <mat-icon>format_color_fill</mat-icon>
</button>

<mat-menu #themeMenu="matMenu">
    <mat-radio-group class="theme-options" [(ngModel)]="currentTheme" (change)="selectTheme($event)">
        <mat-radio-button 
            *ngFor="let theme of themes"
            color="primary" 
            class="theme-options__button" 
            [checked]="theme == currentTheme"
            [value]="theme">{{theme}}</mat-radio-button>
    </mat-radio-group>
</mat-menu>