.login {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.login__header {
  text-align: center;
}

.login__remember {
  margin: 1em 0;
}

mat-form-field {
  display: block;
}

.login__button {
  width: 100%
}

.register__button {
  width: 100%
}
