<mat-card >
  <mat-card-content class="login">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 class="login__header ">Log In</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password"  formControlName="password" type="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button class="login__button"mat-raised-button color="primary">Login</button>
      <mat-checkbox class="login__remember">Remember me?</mat-checkbox>
    </form>
    <p>Don't you have an account yet?</p>
    <button mat-flat-button color="accent" class="register__button">Create New Account</button>
  </mat-card-content>
</mat-card>