<p>{{ (entries | async) | json }}</p>

<mat-card *ngFor="let dog of dogs">
    <mat-card-header>
        <mat-card-title>{{dog}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
</mat-card>