:host(.entries) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;

    mat-card {
        margin: 0 8px 16px;
        flex-basis: 100%;
        flex-basis: calc(100% / 3 - 60px);
    }
}