<mat-toolbar color="primary" class="navbar" *ngIf="toolbarVisibilityService.isVisible$ | async">
    <div class="content navbar__elements">
        <a class="navbar__logo" [routerLink]="['/']">      
            <img src="./assets/logo_white.png" alt="FoodApp">
        </a>
        <span class="navbar__spacer"></span>

        <button class="navbar__menu" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <a mat-menu-item *ngFor="let link of links" [routerLink]="link | kebabCase">{{link}}</a>
        </mat-menu>
        <div class="navbar__links">
            <a mat-button *ngFor="let link of links" [routerLink]="link | kebabCase">{{link}}</a>
        </div>

        <app-theme-switcher class="navbar__theme-toggle"></app-theme-switcher>

        <button mat-raised-button (click)="logout()"> Logout </button>
    </div>
</mat-toolbar>