.navbar {
    height: 8vh;
}

.navbar__elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.navbar__logo {
    img {
        height: 7vh;
        margin: 0 4px 3px 0;
        vertical-align: middle;
    }
}

.navbar__spacer {
    flex: 1 1 auto;
}

.navbar__links {
    display: none;
}

.navbar__menu {
    display: unset;
}

@media (min-width: 600px) {
    .navbar__links {   
        display: unset;
    }

    .navbar__menu {
        display: none;
    }
}
