.promo-section {
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-color: #424242;
  background-blend-mode: overlay;
  color: white;

  &:nth-of-type(1) {
    background-image: url("../../assets/louis-hansel-shotsoflouis-MlPD-AzZYMg-unsplash.jpg");
  }

  &:nth-of-type(2) {
    color: black;
    background-color: white;
    background-blend-mode: unset;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3cpath d='M -175.1825791761858%2c401 C -103.18%2c359.2 40.82%2c201.2 184.8174208238142%2c192 C 328.82%2c182.8 400.82%2c347.4 544.8174208238142%2c355 C 688.82%2c362.6 760.82%2c220 904.8174208238142%2c230 C 1048.82%2c240 1120.82%2c398 1264.8174208238142%2c405 C 1408.82%2c412 1589.78%2c274.8 1624.8174208238142%2c265 C 1659.85%2c255.2 1476.96%2c337.8 1440%2c356' stroke='rgba(67%2c 160%2c 71%2c 0.53)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -370.3530555561157%2c229 C -298.35%2c256.6 -154.35%2c360.2 -10.353055556115667%2c367 C 133.65%2c373.8 205.65%2c267.6 349.6469444438843%2c263 C 493.65%2c258.4 565.65%2c361.8 709.6469444438843%2c344 C 853.65%2c326.2 925.65%2c173.2 1069.6469444438844%2c174 C 1213.65%2c174.8 1355.58%2c344.6 1429.6469444438844%2c348 C 1503.72%2c351.4 1437.93%2c222.4 1440%2c191' stroke='rgba(67%2c 160%2c 71%2c 0.53)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -411.2807120991445%2c260 C -339.28%2c283.8 -195.28%2c388.8 -51.280712099144544%2c379 C 92.72%2c369.2 164.72%2c217 308.7192879008555%2c211 C 452.72%2c205 524.72%2c360 668.7192879008554%2c349 C 812.72%2c338 884.72%2c155.6 1028.7192879008555%2c156 C 1172.72%2c156.4 1306.46%2c355.2 1388.7192879008555%2c351 C 1470.98%2c346.8 1429.74%2c178.2 1440%2c135' stroke='rgba(67%2c 160%2c 71%2c 0.53)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -213.6846167638485%2c363 C -141.68%2c334.8 2.32%2c218.8 146.3153832361515%2c222 C 290.32%2c225.2 362.32%2c382.6 506.3153832361515%2c379 C 650.32%2c375.4 722.32%2c203.8 866.3153832361515%2c204 C 1010.32%2c204.2 1082.32%2c368 1226.3153832361515%2c380 C 1370.32%2c392 1543.58%2c261.6 1586.3153832361515%2c264 C 1629.05%2c266.4 1469.26%2c366.4 1440%2c392' stroke='rgba(67%2c 160%2c 71%2c 0.53)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }

  &:nth-of-type(3) {
    background-image: url("../../assets/louis-hansel-shotsoflouis-wl9LdF_yJec-unsplash.jpg");
  }

  &:nth-of-type(4) {
    color: black;
    background-color: white;
    background-blend-mode: unset;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1538%26quot%3b)' fill='none'%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1539%26quot%3b)' x='526.64' y='-3.18' fill='url(%23SvgjsPattern1540)' transform='rotate(314.03%2c 556.64%2c 26.82)'%3e%3c/rect%3e%3crect width='134.4' height='134.4' clip-path='url(%26quot%3b%23SvgjsClipPath1541%26quot%3b)' x='1251.81' y='464.87' fill='url(%23SvgjsPattern1542)' transform='rotate(143.02%2c 1319.01%2c 532.07)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='762.23' cy='32.52' fill='rgba(67%2c 160%2c 71%2c 1)'%3e%3c/circle%3e%3ccircle r='87.07931813599065' cx='1344.66' cy='138.9' stroke='rgba(67%2c 160%2c 71%2c 1)' stroke-width='2.28' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3crect width='72' height='72' clip-path='url(%26quot%3b%23SvgjsClipPath1543%26quot%3b)' x='583.08' y='299.95' fill='url(%23SvgjsPattern1544)' transform='rotate(30.1%2c 619.08%2c 335.95)'%3e%3c/rect%3e%3crect width='84' height='84' clip-path='url(%26quot%3b%23SvgjsClipPath1545%26quot%3b)' x='1301.07' y='237.49' fill='url(%23SvgjsPattern1546)' transform='rotate(143.73%2c 1343.07%2c 279.49)'%3e%3c/rect%3e%3cpath d='M1142.14 123.45a5.6 5.6 0 1 0 10.42-4.1 5.6 5.6 0 1 0-10.42 4.1zM1157.02 117.59a5.6 5.6 0 1 0 10.43-4.1 5.6 5.6 0 1 0-10.43 4.1zM1171.91 111.73a5.6 5.6 0 1 0 10.43-4.1 5.6 5.6 0 1 0-10.43 4.1zM1186.8 105.87a5.6 5.6 0 1 0 10.42-4.1 5.6 5.6 0 1 0-10.42 4.1z' fill='rgba(255%2c 245%2c 157%2c 1)'%3e%3c/path%3e%3crect width='74.4' height='74.4' clip-path='url(%26quot%3b%23SvgjsClipPath1547%26quot%3b)' x='776.23' y='30.86' fill='url(%23SvgjsPattern1548)' transform='rotate(344.99%2c 813.43%2c 68.06)'%3e%3c/rect%3e%3crect width='252' height='252' clip-path='url(%26quot%3b%23SvgjsClipPath1549%26quot%3b)' x='511.06' y='68.42' fill='url(%23SvgjsPattern1550)' transform='rotate(333.35%2c 637.06%2c 194.42)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='80.53' cy='190.48' fill='rgba(67%2c 160%2c 71%2c 1)'%3e%3c/circle%3e%3cpath d='M1239.57 407.98L1228.41 414.26 1219.83 404.75 1208.67 411.03 1200.09 401.52 1188.93 407.8 1180.35 398.29M1240.86 400.08L1229.7 406.36 1221.12 396.85 1209.96 403.13 1201.38 393.62 1190.22 399.91 1181.65 390.4M1242.15 392.19L1230.99 398.47 1222.41 388.96 1211.25 395.24 1202.67 385.73 1191.51 392.01 1182.94 382.5' stroke='rgba(67%2c 160%2c 71%2c 1)' stroke-width='2.08' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M461.36 32.44a5.6 5.6 0 1 0 11.18 0.72 5.6 5.6 0 1 0-11.18-0.72zM477.33 33.47a5.6 5.6 0 1 0 11.18 0.72 5.6 5.6 0 1 0-11.18-0.72zM493.3 34.5a5.6 5.6 0 1 0 11.17 0.72 5.6 5.6 0 1 0-11.17-0.72zM509.26 35.53a5.6 5.6 0 1 0 11.18 0.72 5.6 5.6 0 1 0-11.18-0.72z' stroke='rgba(67%2c 160%2c 71%2c 1)' stroke-width='2.86' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1538'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1540'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(67%2c 160%2c 71%2c 1)' fill='none' stroke-width='1.88'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1539'%3e%3ccircle r='15' cx='556.64' cy='26.82'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='134.4' height='13.44' patternUnits='userSpaceOnUse' id='SvgjsPattern1542'%3e%3crect width='134.4' height='6.72' x='0' y='0' fill='rgba(67%2c 160%2c 71%2c 1)'%3e%3c/rect%3e%3crect width='134.4' height='6.72' x='0' y='6.72' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1541'%3e%3ccircle r='33.6' cx='1319.01' cy='532.07'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1544'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(255%2c 245%2c 157%2c 1)' fill='none' stroke-width='1.85'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1543'%3e%3ccircle r='18' cx='619.08' cy='335.95'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='84' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1546'%3e%3crect width='84' height='3' x='0' y='0' fill='rgba(255%2c 245%2c 157%2c 1)'%3e%3c/rect%3e%3crect width='84' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1545'%3e%3ccircle r='21' cx='1343.07' cy='279.49'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6.2' height='6.2' patternUnits='userSpaceOnUse' id='SvgjsPattern1548'%3e%3cpath d='M3.1 1L3.1 5.2M1 3.1L5.2 3.1' stroke='rgba(67%2c 160%2c 71%2c 1)' fill='none' stroke-width='1.02'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1547'%3e%3ccircle r='18.6' cx='813.43' cy='68.06'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='252' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1550'%3e%3crect width='252' height='3' x='0' y='0' fill='rgba(255%2c 245%2c 157%2c 1)'%3e%3c/rect%3e%3crect width='252' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1549'%3e%3ccircle r='63' cx='637.06' cy='194.42'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");  
}

  &:nth-of-type(5) {
    background-image: url("../../assets/brooke-lark-jUPOXXRNdcA-unsplash.jpg");
  }
}

.promo-section__content {
  padding: 3vh 3vw;
  font-weight: 300;
  align-self: center;
  text-align: center;

  h1 {
    font-size: 3em;
    font-weight: 800;
    display: block;
  }

  p {
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: 400;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-section__login {
  width: 90vw;
}

.promo-section__links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  li {
    flex: 1 1 0px;
    a {
      font-size: 1.5em;
    }
  }
}

.loading-bar {
  position: fixed;
  bottom: 0;
}

@media (min-width: 600px) {
  .intro {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    flex-grow: 1;
  }

  .promo-section__login {
    width: 45vw;
  }

  .promo-section__links {
    flex-direction: column;
  }

  .promo-section__content {
    padding: 15vh;
    margin: 10px
  }

  .promo-section {
    &:first-child {
      .promo-section__content {
        padding: 0;
        max-width: 50vw;
      }
    }

    &:nth-of-type(odd) {
      .promo-section__content {
        float: left;
        text-align: left;
      }
    }

    &:nth-of-type(even) {
      .promo-section__content {
        float: right;
        text-align: right;
      }
    }
  }
}


@media (min-width: 992px) {
  .promo-section__login {   
      max-width: 450px;
  }
}